
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color: rgb(20, 20, 20);
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color:dimgray;
}

.box-text{
    font-size: 30px;
}

.name-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
}

.half-width img{
    width: 100%;
    padding-top: 5%;
    
 
}

.top-banner{
    background-image: url("images/top-banner2.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;

}

/* .top-banner::after{
    content: '';
    display: table;
    clear: both;
} */

.navbar{
    background:none;
    text-align: right;
    padding: 30px 15px;

}

.navbar a{
    color: #fff;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    position: relative;
}

.navbar a::before{
position: absolute;    
content: '';
height: 3px;
bottom: 10px;
border-radius: 50px;
background:tomato;
width: 0;
transition: 0.3s;

}

.navbar a:hover::before{
    width: 80%;
}

.middle-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.link-btn{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    font-weight: 700;
   
}

.link-btn1{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    display: flex;
    width: 70px;
    height: 30px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.link-btn1::before{
    content: '';
    position: absolute;
    height: 280%;
    width: 60px;
    background-image: linear-gradient(0deg, lightSalmon,Tomato);
    animation: myani 2s linear infinite;

}

.link-btn1::after{
    content: '';
    position: absolute;
    background-color: rgb(20, 20, 20);
    inset: 4px;
   border-radius: 16px;
   z-index: 0;

}

.link-btn1:hover::after{
    background-image: linear-gradient(90deg, lightSalmon,Tomato);
    inset: 0px;
}

.text-btn{
    z-index: 1;
}

@keyframes myani{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.btn1:hover{
    background-image: linear-gradient(90deg, lightSalmon,Tomato);
    
}

.btn2:hover{
    background-image: linear-gradient(270deg, lightSalmon,Tomato);

}



.box{
    background-color: white;
    height: 60%;
    transition: 0.5s;
    padding:20px;
  
}

.box-gra{
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice:1;
    border-left: 7px solid;
}

.box-gra2{
    border-image: linear-gradient(180deg, blue,cyan );
    border-image-slice:1;
    border-left: 7px solid;
}

.box p{
    text-align:justify;
}

.box h2{
    color: black;
}

.box:hover{
    box-shadow: 10px 10px 15px gray;

}

footer{
    background-color: #000;
    width: 100%;
    height: 30px;
    text-align: center;
}

