
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color: rgb(20, 20, 20);
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color:dimgray;
}

.box-text{
    font-size: 30px;
}

.name-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
}

.half-width img{
    width: 100%;
    padding-top: 5%;
    
 
}

.top-banner{
    background-image: url("images/top-banner2.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;

}

/* .top-banner::after{
    content: '';
    display: table;
    clear: both;
} */

.navbar{
    background:none;
    text-align: right;
    padding: 30px 15px;

}

.navbar a{
    color: #fff;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    position: relative;
}

.navbar a::before{
position: absolute;    
content: '';
height: 3px;
bottom: 10px;
border-radius: 50px;
background:tomato;
width: 0;
transition: 0.3s;

}

.navbar a:hover::before{
    width: 80%;
}

.middle-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.link-btn{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    font-weight: 700;
   
}

.link-btn1{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    display: flex;
    width: 70px;
    height: 30px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.link-btn1::before{
    content: '';
    position: absolute;
    height: 280%;
    width: 60px;
    background-image: linear-gradient(0deg, lightSalmon,Tomato);
    animation: myani 2s linear infinite;

}

.link-btn1::after{
    content: '';
    position: absolute;
    background-color: rgb(20, 20, 20);
    inset: 4px;
   border-radius: 16px;
   z-index: 0;

}

.link-btn1:hover::after{
    background-image: linear-gradient(90deg, lightSalmon,Tomato);
    inset: 0px;
}

.text-btn{
    z-index: 1;
}

@keyframes myani{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}



.btn2:hover{
    background-image: linear-gradient(270deg, lightSalmon,Tomato);

}



/* .box{
    background-color: white;
    height: 60%;
    transition: 0.5s;
    padding:20px;
  
}

.box-gra{
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice:1;
    border-left: 7px solid;
}

.box-gra2{
    border-image: linear-gradient(180deg, blue,cyan );
    border-image-slice:1;
    border-left: 7px solid;
}

.box p{
    text-align:justify;
}

.box h2{
    color: black;
}

.box:hover{
    box-shadow: 10px 10px 15px gray;

} */

footer{
    background-color: #000;
    width: 100%;
    height: 30px;
    text-align: center;
}

.container{
    background-color: rgb(20, 20, 20);
    width: 1000px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: -50%;
}

.row1{
    display: flex;
    padding: 25px;
    justify-content: space-between;
    
}

.row2{
    display: flex;
    padding: 25px;
    justify-content: space-between;
}
.div1 , .div2 , .div3{
    position: relative;
}

.div1::after , .div2::after , .div3::after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 20px;
    background-color: rgb(20,20,20);
}

.num{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    font-weight: 700;
    font-size: 20px;
    color: blanchedalmond;
}


.common-div{
    width: 160px;
    height: 160px;
    background-color: white;
    border-radius: 50%;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset:450;
    position: absolute;
    left: 0px;
    top: 0px;
    
}

.name{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 10;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    
}




.ci1{
        animation:myani1 2s linear forwards;
}

.ci2{
    animation:myani2 2s linear forwards;
    stroke-dashoffset:-450;

}

.ci3{
animation:myani3 2s linear forwards;
stroke-dashoffset:450;

}

.ci4{
animation:myani4 2s linear forwards;
stroke-dashoffset:-450;

}


.ci5{
animation:myani5 2s linear forwards;
stroke-dashoffset:450;

}

.ci6{
animation:myani6 2s linear forwards;
stroke-dashoffset:-450;

}
    

@keyframes myani1{
    100%{
        stroke-dashoffset:45;

    }
}

@keyframes myani2{
    100%{
        stroke-dashoffset:-90;

    }
}

@keyframes myani3{
    100%{
        stroke-dashoffset:112;

    }
}

@keyframes myani4{
    100%{
        stroke-dashoffset:-135;

    }
}

@keyframes myani5{
    100%{
        stroke-dashoffset:180;

    }
}

@keyframes myani6{
    100%{
        stroke-dashoffset:-225;

    }
}
