*{
   
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: white;
    background-color: rgb(20, 20, 20);
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
    color:dimgray;
}

.name-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
}

.half-width img{
    width: 100%;
    padding-top: 5%;
    
 
}

.top-banner{
    background-image: url("images/top-banner2.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

/* .top-banner::after{
    content: '';
    display: table;
    clear: both;
} */

.middle-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.link-btn{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    font-weight: 700;
   
}

.btn1:hover{
    background-image: linear-gradient(90deg, lightSalmon,Tomato);
}

.btn2:hover{
    background-image: linear-gradient(270deg, lightSalmon,Tomato);

}

